# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Django specific
db.sqlite3
/*/db.sqlite3
media/
/*/media/
